<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin Panel</title>

    <!-- Bootstrap Core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">


    <!-- MetisMenu CSS -->
    <link href="/metisMenu/metisMenu.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/stylesheets/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>

<body>

    <div id="wrapper">
        <!-- Navigation -->
        <% include ../layout %>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Modify User</h1>
                </div>
            </div>
            <div class="alert alert-success" id="onSuccess">
                <strong>User modified!</strong>
            </div>
            <div class="row">
                <div class="col-xs-5">
                    <h2>User list</h2>
                    <table class="table table-striped" id="userTable">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Username</th>
                                <th scope="col">#</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(i=0; i < userTable.length; ++i) { %>
                            <tr>
                                <th scope="row">
                                    <%= userTable[i].id %>
                                </th>
                                <td>
                                    <%= userTable[i].username %>
                                </td>
                                <td>
                                    <div class="form-check-inline">
                                        <input class="form-check-input" name="user" type="checkbox" value="<%= userTable[i].id %> ">
                                    </div>
                                </td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
                <div class="col-xs-7" style="border-left-style: double;">
                    <h2>Test list</h2>
                    <table class="table table-striped" id="userTable">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Test Name</th>
                                <th scope="col">#</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(i=0; i < testTable.length; ++i) { %>
                            <tr>
                                <th scope="row">
                                    <%= testTable[i].id %>
                                </th>
                                <td>
                                    <%= testTable[i].name %>
                                </td>
                                <td>
                                    <div class="form-check-inline">
                                        <input class="form-check-input" name="test" type="checkbox" value="<%= testTable[i].id %> ">
                                    </div>
                                </td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
            <div>
                <button type="button" id="save" class="btn btn-primary btn-lg pull-right">Save</button>
            </div>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/javascripts/jquery-3.3.1.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/javascripts/sb-admin-2.js"></script>

    <script>
        function getAllChecked() {
            let checkedUser = [];
            let checkedTest = [];
            $("input[type='checkbox'][name='user']:checked").each(function () {
                checkedUser.push($(this).val());
            });
            $("input[type='checkbox'][name='test']:checked").each(function () {
                checkedTest.push($(this).val());
            });
            let re = {
                checkedUser: checkedUser,
                checkedTest: checkedTest
            }
            return re;
        }
        $(window).on("load", function () {
            let check;
            $('#save').click(function () {
                check = getAllChecked();
                console.log(check);
                $.ajax({
                    type: 'POST',
                    url: '/admin/user/modify',
                    data: {
                        userList: check.checkedUser,
                        testList: check.checkedTest
                    }
                }).done(function () {
                    $('#onSuccess').show(500);
                    $("input[type='checkbox'][name='user']:checked").prop('checked', false);
                    $("input[type='checkbox'][name='test']:checked").prop('checked', false);
                    $('#onSuccess').hide(200);
                });
            });
            $('#onSuccess').hide();
        });
    </script>

</body>

</html>