<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Home</title>

	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	 crossorigin="anonymous">
	<!-- Custom fonts for this template -->
	<link href="../fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
	 rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'
	 rel='stylesheet' type='text/css'>

	<!-- Plugin CSS -->

	<!-- Custom styles for this template -->
	<link rel="stylesheet" href="../stylesheets/creative.min.css">

</head>

<body id="page-top">

	<!-- Navigation -->
	<% include navbar %>

	<header class="masthead d-flex">
		<div class="container text-center text-white my-auto">
			<div class="row">
				<div class="col-lg-10 mx-auto">
					<h1>
						<strong>Welcome! <%= user.username %> </strong>
					</h1>
					<hr>
				</div>
			</div>
			<div class="col-lg-8 mx-auto" style="color:dimgray">
				<% for(i=0; i < TestList.length; ++i) { %>
				<% if(TestList[i].active) { %>
				<div class="card w-50 mx-auto" style="margin-top:10px;">
					<h5 class="card-header">
						Test
						<%= TestList[i].id %>
					</h5>
					<div class="card-body">
						<p class="card-text">Time:
							<%= TestList[i].time %> minutes </p>
						<p class="text-success">Ready</p>
						<a href="/exam/<%= TestList[i].id %>" class="btn btn-primary">Start</i></a>
					</div>
				</div>
				<%  }  else { %>
				<div class="card w-50 mx-auto" style="margin-top:10px;">
					<h5 class="card-header">
						Test
						<%= TestList[i].id %>
					</h5>
					<div class="card-body">
						<p class="card-text">Time:
							<%= TestList[i].time %> minutes </p>
						<p class="text-muted">Completed</p>
						<a href="/exam/<%= TestList[i].id %>" class="btn btn-primary disabled" aria-disabled="true">Start</i></a>
					</div>
				</div>
				<% } %>
				<% } %>
			</div>
		</div>
	</header>


	<!-- Bootstrap core JavaScript -->
	<script src="../javascripts/jquery-3.3.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	 crossorigin="anonymous"></script>

	<!-- Plugin JavaScript -->

	<!-- Custom scripts for this template -->
</body>

</html>


<!-- <div class="container-fluid" id="list">

			<% for(i=0; i < TestList.length; ++i) { %>
			<% if(TestList[i].active) { %>
			<div class="card w-50 mx-auto" style="margin-top:10px;">
				<h5 class="card-header">
					Test
					<%= TestList[i].id %>
				</h5>
				<div class="card-body">
					<p class="card-text">Time:
						<%= TestList[i].time %> minutes </p>
					<p class="text-success">Ready</p>
					<a href="/exam/<%= TestList[i].id %>" class="btn btn-primary">Start</i></a>
				</div>
			</div>
			<%  }  else { %>
			<div class="card w-50 mx-auto" style="margin-top:10px;">
				<h5 class="card-header">
					Test
					<%= TestList[i].id %>
				</h5>
				<div class="card-body">
					<p class="card-text">Time:
						<%= TestList[i].time %> minutes </p>
					<p class="text-muted">Completed</p>
					<a href="/exam/<%= TestList[i].id %>" class="btn btn-primary disabled" aria-disabled="true">Start</i></a>
				</div>
			</div>
			<% } %>
			<% } %>
		</div> -->